<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="t05. Normal">
	<title>Normal</title>
</head>
<body>
	<h1>In real life you were absent for <%=year%> years, <%=month%> months, <%=day%> days.</h1>
</body>
</html>