table {
  border-collapse: collapse;
  border: 3px solid white;

}

td {
  padding: 10px;
  text-align: left;
  border: 1px solid white;
  background-color: #CDCDCD;
  text-align: center;
}

thead {
  background-color: #EB1B1B;
}

th {
  cursor: pointer;
  padding: 10px;
  text-align: left;
  width: 60px;
  text-align: center;
  border: 1px solid white;
}

#notification {
  margin-top: 10px;
  font-weight: bold;
  background-color: #929292;
  padding: 10px;
  border-radius: 25px;
  position: absolute;
  margin-left: 420px;
}

main {
  display: flex;
}

#placeholder{
  margin-top: 60px;
  margin-left: 60px;
  border: 3px solid black;
  height: 100%;
}