*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{

	background-color: #f2f2f2;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
}
h1{
	font-size: 40px;
	margin-bottom: 20px;
}
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.person{
	height: 100px;
	width: 60px;
	margin: 10px;
	transition: all 0.3s ease;
	background-image: url('assets/images/man.png');
    background-size: cover;
	background-position: center center;
}

.gauntlet{
	margin: 10px;
	transform: translateX(-50%);
	height: 400px;
	width: 200px;
	transition: all 0.3s ease;
}
.gauntlet:hover ~ .row:nth-child(even) .person:nth-child(odd),
.gauntlet:hover ~ .row:nth-child(odd) .person:nth-child(even) {
  opacity: 0;
  pointer-events: none;
}
